Load pips

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load Dataset

In [145]:
data_set = 'output.csv'

In [146]:
# read data_set
df = pd.read_csv(data_set, low_memory=False)

Data Info

In [147]:
def basic_info(df):
    print("ðŸ”¹ Shape:")
    print(df.shape)

    print("\nðŸ”¹ Info:")
    df.info()

    print("\nðŸ”¹ Dtypes:")
    print(df.dtypes)

    print("\nðŸ”¹ Head:")
    print(df.head(3))

    print("\nðŸ”¹ Tail:")
    print(df.tail(3))

    print("\nðŸ”¹ Columns:")
    print(df.columns.tolist())

    print("\nðŸ”¹ Missing Values (%):")
    print((df.isnull().sum() / len(df)) * 100)

    print("\nðŸ”¹ Total Duplicated Rows:")
    print(df.duplicated().sum())

    print("\nðŸ”¹ Unique Values per Column:")
    print(df.nunique())

    print("\nðŸ”¹ Object Columns Summary:")
    print(df.describe(include='object'))

    print("\nðŸ”¹ Numeric Columns Summary:")
    print(df.describe(include='number'))

    print("\nðŸ”¹ Correlation Matrix (Numeric Features):")
    print(df.corr(numeric_only=True))

    print("\nðŸ”¹ Memory Usage:")
    print(df.memory_usage(deep=True))

    print("\nðŸ”¹ Column-wise Null Count:")
    print(df.isnull().sum())

    print("\nðŸ”¹ Zero Count per Column (Helpful for ML):")
    print((df == 0).sum())

    print("\nðŸ”¹ Sample Random Rows:")
    print(df.sample(3))

In [148]:
basic_info(df)

ðŸ”¹ Shape:
(246091, 18)

ðŸ”¹ Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Area                      246091 non-null  float64
 1   Crop_Year                 246091 non-null  int64
 2   District_Name             246091 non-null  object
 3   Production                242361 non-null  float64
 4   Season                    246091 non-null  object
 5   State_Name                246091 non-null  object
 6   cation_exchange_capacity  2200 non-null    float64
 7   crop_name                 246091 non-null  object
 8   humidity                  2200 non-null    float64
 9   nitrogen                  2200 non-null    float64
 10  phosphorus                2200 non-null    float64
 11  potassium                 2200 non-null    float64
 12  rainfall                  2200 non-null    float64
 13  season                    2200 non-null    object
 14  soil_moisture             2200 non-null    float64
 15  soil_ph                   2200 non-null    float64
 16  temperature               2200 non-null    float64
 17  test                      246091 non-null  object
dtypes: float64(11), int64(1), object(6)
memory usage: 33.8+ MB

ðŸ”¹ Dtypes:
Area                        float64
Crop_Year                     int64
District_Name                object
Production                  float64
Season                       object
State_Name                   object
cation_exchange_capacity    float64
crop_name                    object
humidity                    float64
nitrogen                    float64
phosphorus                  float64
potassium                   float64
rainfall                    float64
season                       object
soil_moisture               float64
soil_ph                     float64
temperature                 float64
test                         object
dtype: object

ðŸ”¹ Head:
     Area  Crop_Year District_Name  Production       Season  \
0  1254.0       2000      NICOBARS      2000.0  Kharif
1     2.0       2000      NICOBARS         1.0  Kharif
2   102.0       2000      NICOBARS       321.0  Kharif

                    State_Name  cation_exchange_capacity crop_name   humidity  \
0  Andaman and Nicobar Islands                      44.0      rice  82.002744
1  Andaman and Nicobar Islands                      42.0      rice  80.319644
2  Andaman and Nicobar Islands                      33.0      rice  82.320763

   nitrogen  phosphorus  potassium    rainfall       season  soil_moisture  \
0      90.0        42.0       43.0  202.935536  Kharif                 5.5
1      85.0        58.0       41.0  226.655537  Kharif                 5.5
2      60.0        55.0       44.0  263.964248  Kharif                 5.5

    soil_ph  temperature    test
0  6.502985    20.879744  test 1
1  7.038096    21.770462  test 1
2  7.840207    23.004459  test 1

ðŸ”¹ Tail:
            Area  Crop_Year District_Name  Production       Season  \
246088     324.0       2014       PURULIA     16250.0  Whole Year
246089  279151.0       2014       PURULIA    597899.0  Winter
246090     175.0       2014       PURULIA        88.0  Winter

         State_Name  cation_exchange_capacity  crop_name  humidity  nitrogen  \
246088  West Bengal                       NaN  Sugarcane       NaN       NaN
246089  West Bengal                       NaN       Rice       NaN       NaN
246090  West Bengal                       NaN    Sesamum       NaN       NaN

        phosphorus  potassium  rainfall season  soil_moisture  soil_ph  \
246088         NaN        NaN       NaN    NaN            NaN      NaN
246089         NaN        NaN       NaN    NaN            NaN      NaN
246090         NaN        NaN       NaN    NaN            NaN      NaN

        temperature  test
246088          NaN  area
246089          NaN  area
246090          NaN  area

ðŸ”¹ Columns:
['Area', 'Crop_Year', 'District_Name', 'Production', 'Season', 'State_Name', 'cation_exchange_capacity', 'crop_name', 'humidity', 'nitrogen', 'phosphorus', 'potassium', 'rainfall', 'season', 'soil_moisture', 'soil_ph', 'temperature', 'test']

ðŸ”¹ Missing Values (%):
Area                         0.000000
Crop_Year                    0.000000
District_Name                0.000000
Production                   1.515699
Season                       0.000000
State_Name                   0.000000
cation_exchange_capacity    99.106022
crop_name                    0.000000
humidity                    99.106022
nitrogen                    99.106022
phosphorus                  99.106022
potassium                   99.106022
rainfall                    99.106022
season                      99.106022
soil_moisture               99.106022
soil_ph                     99.106022
temperature                 99.106022
test                         0.000000
dtype: float64

ðŸ”¹ Total Duplicated Rows:
0

ðŸ”¹ Unique Values per Column:
Area                        38442
Crop_Year                      19
District_Name                 646
Production                  51627
Season                          6
State_Name                     33
cation_exchange_capacity       16
crop_name                     146
humidity                     2200
nitrogen                      137
phosphorus                    117
potassium                      73
rainfall                     2200
season                          4
soil_moisture                   5
soil_ph                      2200
temperature                  2200
test                            2
dtype: int64

ðŸ”¹ Object Columns Summary:
       District_Name       Season     State_Name crop_name       season  \
count         246091       246091         246091    246091         2200
unique           646            6             33       146            4
top          BIJAPUR  Kharif       Uttar Pradesh      Rice  Whole Year
freq             945        95951          33306     14993          840

          test
count   246091
unique       2
top       area
freq    243891

ðŸ”¹ Numeric Columns Summary:
               Area      Crop_Year    Production  cation_exchange_capacity  \
count  2.460910e+05  246091.000000  2.423610e+05               2200.000000
mean   1.200282e+04    2005.643018  5.825034e+05                 31.962273
std    5.052340e+04       4.952164  1.706581e+07                 10.230137
min    4.000000e-02    1997.000000  0.000000e+00                  6.000000
25%    8.000000e+01    2002.000000  8.800000e+01                 28.000000
50%    5.820000e+02    2006.000000  7.290000e+02                 32.000000
75%    4.392000e+03    2010.000000  7.023000e+03                 39.000000
max    8.580100e+06    2015.000000  1.250800e+09                 44.000000

          humidity     nitrogen   phosphorus    potassium     rainfall  \
count  2200.000000  2200.000000  2200.000000  2200.000000  2200.000000
mean     71.481779    50.551818    53.362727    48.149091   103.463655
std      22.263812    36.917334    32.985883    50.647931    54.958389
min      14.258040     0.000000     5.000000     5.000000    20.211267
25%      60.261953    21.000000    28.000000    20.000000    64.551686
50%      80.473146    37.000000    51.000000    32.000000    94.867624
75%      89.948771    84.250000    68.000000    49.000000   124.267508
max      99.981876   140.000000   145.000000   205.000000   298.560117

       soil_moisture      soil_ph  temperature
count    2200.000000  2200.000000  2200.000000
mean        5.409091     6.469480    25.616244
std         0.576885     0.773938     5.063749
min         4.000000     3.504752     8.825675
25%         5.500000     5.971693    22.769375
50%         5.500000     6.425045    25.598693
75%         5.500000     6.923643    28.561654
max         6.500000     9.935091    43.675493

ðŸ”¹ Correlation Matrix (Numeric Features):
                              Area  Crop_Year  Production  \
Area                      1.000000  -0.026022    0.040587
Crop_Year                -0.026022   1.000000    0.006989
Production                0.040587   0.006989    1.000000
cation_exchange_capacity  0.008025  -0.000074    0.007627
humidity                 -0.060956   0.383500   -0.004276
nitrogen                 -0.031322  -0.211580    0.078201
phosphorus                0.005983  -0.048069   -0.030290
potassium                -0.029214  -0.008469   -0.017380
rainfall                 -0.028911  -0.206050    0.052006
soil_moisture            -0.067932  -0.003031    0.021015
soil_ph                   0.052397   0.192107   -0.006916
temperature              -0.014897   0.075994   -0.012377

                          cation_exchange_capacity  humidity  nitrogen  \
Area                                      0.008025 -0.060956 -0.031322
Crop_Year                                -0.000074  0.383500 -0.211580
Production                                0.007627 -0.004276  0.078201
cation_exchange_capacity                  1.000000  0.002718 -0.015273
humidity                                  0.002718  1.000000  0.190688
nitrogen                                 -0.015273  0.190688  1.000000
phosphorus                                0.002030 -0.118734 -0.231460
potassium                                 0.000137  0.190859 -0.140512
rainfall                                 -0.003736  0.094423  0.059020
soil_moisture                            -0.000967 -0.000395 -0.003932
soil_ph                                  -0.009175 -0.008483  0.096683
temperature                              -0.001862  0.205320  0.026504

                          phosphorus  potassium  rainfall  soil_moisture  \
Area                        0.005983  -0.029214 -0.028911      -0.067932
Crop_Year                  -0.048069  -0.008469 -0.206050      -0.003031
Production                 -0.030290  -0.017380  0.052006       0.021015
cation_exchange_capacity    0.002030   0.000137 -0.003736      -0.000967
humidity                   -0.118734   0.190859  0.094423      -0.000395
nitrogen                   -0.231460  -0.140512  0.059020      -0.003932
phosphorus                  1.000000   0.736232 -0.063839      -0.001696
potassium                   0.736232   1.000000 -0.053461      -0.000579
rainfall                   -0.063839  -0.053461  1.000000       0.004371
soil_moisture              -0.001696  -0.000579  0.004371       1.000000
soil_ph                    -0.138019  -0.169503 -0.109069      -0.008052
temperature                -0.127541  -0.160387 -0.030084       0.009796

                           soil_ph  temperature
Area                      0.052397    -0.014897
Crop_Year                 0.192107     0.075994
Production               -0.006916    -0.012377
cation_exchange_capacity -0.009175    -0.001862
humidity                 -0.008483     0.205320
nitrogen                  0.096683     0.026504
phosphorus               -0.138019    -0.127541
potassium                -0.169503    -0.160387
rainfall                 -0.109069    -0.030084
soil_moisture            -0.008052     0.009796
soil_ph                   1.000000    -0.017795
temperature              -0.017795     1.000000

ðŸ”¹ Memory Usage:
Index                            132
Area                         1968728
Crop_Year                    1968728
District_Name               14087715
Production                   1968728
Season                      14765460
State_Name                  14495256
cation_exchange_capacity     1968728
crop_name                   14151445
humidity                     1968728
nitrogen                     1968728
phosphorus                   1968728
potassium                    1968728
rainfall                     1968728
season                       7936512
soil_moisture                1968728
soil_ph                      1968728
temperature                  1968728
test                        13047223
dtype: int64

ðŸ”¹ Column-wise Null Count:
Area                             0
Crop_Year                        0
District_Name                    0
Production                    3730
Season                           0
State_Name                       0
cation_exchange_capacity    243891
crop_name                        0
humidity                    243891
nitrogen                    243891
phosphorus                  243891
potassium                   243891
rainfall                    243891
season                      243891
soil_moisture               243891
soil_ph                     243891
temperature                 243891
test                             0
dtype: int64

ðŸ”¹ Zero Count per Column (Helpful for ML):
Area                           0
Crop_Year                      0
District_Name                  0
Production                  3523
Season                         0
State_Name                     0
cation_exchange_capacity       0
crop_name                      0
humidity                       0
nitrogen                      27
phosphorus                     0
potassium                      0
rainfall                       0
season                         0
soil_moisture                  0
soil_ph                        0
temperature                    0
test                           0
dtype: int64

ðŸ”¹ Sample Random Rows:
            Area  Crop_Year District_Name  Production       Season  \
168576  294215.0       2002         CHURU      5229.0  Kharif
153957    1264.0       2013     KANDHAMAL       164.3  Winter
118812    2463.0       2013          REWA     40253.0  Whole Year

            State_Name  cation_exchange_capacity          crop_name  humidity  \
168576       Rajasthan                       NaN              Bajra       NaN
153957          Odisha                       NaN  Rapeseed &Mustard       NaN
118812  Madhya Pradesh                       NaN             Potato       NaN

        nitrogen  phosphorus  potassium  rainfall season  soil_moisture  \
168576       NaN         NaN        NaN       NaN    NaN            NaN
153957       NaN         NaN        NaN       NaN    NaN            NaN
118812       NaN         NaN        NaN       NaN    NaN            NaN

        soil_ph  temperature  test
168576      NaN          NaN  area
153957      NaN          NaN  area
118812      NaN          NaN  area

Remove Unwanted col

In [149]:
df.columns

Index(['Area', 'Crop_Year', 'District_Name', 'Production', 'Season',
       'State_Name', 'cation_exchange_capacity', 'crop_name', 'humidity',
       'nitrogen', 'phosphorus', 'potassium', 'rainfall', 'season',
       'soil_moisture', 'soil_ph', 'temperature', 'test'],
      dtype='object')

In [150]:
df['State_Name'].unique()
df.head()

,Area,Crop_Year,District_Name,Production,Season,State_Name,cation_exchange_capacity,crop_name,humidity,nitrogen,phosphorus,potassium,rainfall,season,soil_moisture,soil_ph,temperature,test
0,1254.0,2000,NICOBARS,2000.0,Kharif,Andaman and Nicobar Islands,44.0,rice,82.002744,90.0,42.0,43.0,202.935536,Kharif,5.5,6.502985,20.879744,test 1
1,2.0,2000,NICOBARS,1.0,Kharif,Andaman and Nicobar Islands,42.0,rice,80.319644,85.0,58.0,41.0,226.655537,Kharif,5.5,7.038096,21.770462,test 1
2,102.0,2000,NICOBARS,321.0,Kharif,Andaman and Nicobar Islands,33.0,rice,82.320763,60.0,55.0,44.0,263.964248,Kharif,5.5,7.840207,23.004459,test 1
3,176.0,2000,NICOBARS,641.0,Whole Year,Andaman and Nicobar Islands,32.0,rice,80.158363,74.0,35.0,40.0,242.864034,Whole Year,5.5,6.980401,26.491096,test 1
4,720.0,2000,NICOBARS,165.0,Whole Year,Andaman and Nicobar Islands,35.0,rice,81.604873,78.0,42.0,42.0,262.717340,Whole Year,5.5,7.628473,20.130175,test 1

In [151]:
print(df.columns.tolist())

['Area', 'Crop_Year', 'District_Name', 'Production', 'Season', 'State_Name', 'cation_exchange_capacity', 'crop_name', 'humidity', 'nitrogen', 'phosphorus', 'potassium', 'rainfall', 'season', 'soil_moisture', 'soil_ph', 'temperature', 'test']

In [152]:
df.columns = df.columns.str.strip()

In [153]:
states_to_remove = [
    'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
    'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
    'Dadra and Nagar Haveli', 'Goa', 'Gujarat', 'Haryana',
    'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand', 'Karnataka',
    'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
    'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
    'Sikkim', 'Telangana ', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
    'West Bengal'
]


df = df[~df['State_Name'].isin(states_to_remove)]
df.head()

,Area,Crop_Year,District_Name,Production,Season,State_Name,cation_exchange_capacity,crop_name,humidity,nitrogen,phosphorus,potassium,rainfall,season,soil_moisture,soil_ph,temperature,test
177668,24574.0,2008,ARIYALUR,NaN,Kharif,Tamil Nadu,NaN,Rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177669,209.0,2008,ARIYALUR,NaN,Whole Year,Tamil Nadu,NaN,Arhar/Tur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177670,565.0,2008,ARIYALUR,NaN,Whole Year,Tamil Nadu,NaN,Bajra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177671,190.0,2008,ARIYALUR,NaN,Whole Year,Tamil Nadu,NaN,Banana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177672,31113.0,2008,ARIYALUR,NaN,Whole Year,Tamil Nadu,NaN,Cashewnut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area

In [154]:
df['State_Name'].unique()

array(['Tamil Nadu'], dtype=object)

In [155]:
# Remove Crop_Year
df = df.drop(columns=['Area','Crop_Year', 'District_Name','Season', 'Production', 'State_Name',])

In [156]:
df.columns

Index(['cation_exchange_capacity', 'crop_name', 'humidity', 'nitrogen',
       'phosphorus', 'potassium', 'rainfall', 'season', 'soil_moisture',
       'soil_ph', 'temperature', 'test'],
      dtype='object')

data info

In [157]:
df.head()

,cation_exchange_capacity,crop_name,humidity,nitrogen,phosphorus,potassium,rainfall,season,soil_moisture,soil_ph,temperature,test
177668,NaN,Rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177669,NaN,Arhar/Tur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177670,NaN,Bajra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177671,NaN,Banana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area
177672,NaN,Cashewnut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,area

In [158]:
df.to_csv('a.csv')